*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(204, 238, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.calculator{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(61, 51, 51);

}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    background: transparent;
    color: #fff;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    margin: 10px;
}
.display{
    display: flex;
justify-content: flex-end;
margin: 20px 0px;
}
form .display input{
    flex: 1;
    box-shadow: none;
    text-align: end;
    font-size: 22px;
}
form input.endBtn{
    width: 140px;
}
form input.calBtn{
    color: rgb(86, 214, 214);
}