* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(20, 20, 95);
}

.app {
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    /* padding: 20px auto 20px; */
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}
.quiz h2{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(47, 46, 46);
}
#answer-buttons{
    display: flex;
    flex-direction: column;
}
#answer-buttons .btn{
    display: block;
    margin-top: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    box-shadow: -4px 3px 10px rgba(34, 34, 34, 0.5);
}
#answer-buttons .btn:hover:not([disabled]){
    background: gray;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    border: 0;
    outline: 0;
    background: rgb(20, 20, 95);
    color: #fff;
    border-radius: 20px;
    padding: 10px ;
    margin: 30px auto 19px;
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    box-shadow:-4px 3px 10px rgba(34, 34, 34, 0.5) ;
    display: none;

}
.correct{
    background: rgb(132, 248, 132);
}
.incorrect{
    background: rgb(254, 159, 175);
}